body {
/*	margin: 0 auto;*/
/*	text-align: center;*/
}
main {
/*	padding: 0 10px;*/
}
ul {
	margin: 0;
}
li {
	list-style: none;
}
.column {
	margin: 0;
	padding: 0;
}
.top-bar, .title-area, .top-bar li {
	height: 4em;
}
.top-bar .name h1 {
	line-height: 65px;
}
.top-bar .top-bar-section ul li {
	line-height: 40px;
}
.top-bar .toggle-topbar.menu-icon {
	top: 25%;
	height: 50%;
	margin-top: 0;
}
.logo {
	border-radius: 50%;
	display: inline-block;
	width: 50px;
	margin: 7px 0 7px 15px;
}
h1 {
	text-align: center;
	margin: 25px auto;
}
h3 {
	margin: 0;
}
.social {
	margin: 30px auto 0;
	height: 3em;
	text-align: center;
}
.has-tip, .has-tip:hover {
	border: none;
}