ul {
	margin: 0;
}
li {
	list-style: none;
}
.column {
	margin: 0;
	padding: 0;
}
.top-bar, .title-area, .top-bar li {
	height: 4em;
}
.top-bar .name h1 {
	line-height: 65px;
}
.top-bar .top-bar-section ul li {
	line-height: 40px;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	line-height: 64px;
}
.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
	height: 64px;
}
.top-bar .toggle-topbar.menu-icon {
	top: 25%;
	height: 50%;
	margin-top: 0;
}
.logo {
	border-radius: 50%;
	display: inline-block;
	width: 50px;
	margin: 7px 0 7px 15px;
}
h1 {
	text-align: center;
	margin: 0 auto 40px;
	font-family: 'Londrina Sketch', cursive;
	font-size: 4em;
}
h2, article{
	margin: 0;
}
h2, .protitle {
	font-family: 'Sue Ellen Francisco', cursive;
	line-height: inherit;
}
h2 {
	font-size: 3.2em;	
}
.protitle {
	font-size: 1.7em;
	line-height: 1em;
}
.logo {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
#profile {
	background-color: #60D2F4;
}
.social {
	margin: 20px auto 0;
	height: 3em;
	text-align: center;
}
.social a {
	
}
.social i {
	color: #555;
}
.social i:hover {
	color: #333;
}
.has-tip, .has-tip:hover {
	border: none;
}
#skills {
	background-color: #52BADD;
}
#skills li {
	font-size: 1.5em;
}
#work {
	background-color: #44AFD0;
}
#profile, #work, #skills {
	padding: 10px 15px 50px;
}
p {
	margin: 10px auto 0;
	text-align: justify;
	font-size: 1.5em;
}
#work div div {
	margin: 50px auto 0;
}
footer.top-bar {
	height: 2em;
	padding-bottom: 45px;
	padding-right: 15px;
	text-align: right;
	color: #aaa;
}

@media (max-width: 640px) {
	p, #skills li {
		font-size: 1.2em;
	}
	h1 {
		font-size: 2.8em;
	}
	.top-bar-section li:not(.has-form) a:not(.button) {
		line-height: 45px;
	}
	.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
		height: 0;
	}
}